<?php 

/*
 * Pseudo:
 * - PS: array de parametros contem o nome do metodo javascript a ser chamado
 * ao mudar a paginacao. Vai apenas chamar o método passando a página a ser 
 * visualizada. 
 * 
 */

?>

<div id="pagination">

<?php if($this->pageCount){
    // Verificando se existe mais de uma página
?>    

<?php if(isset($this->previous)){ 
    // Gerando o link para a página anterior 
?>    
    <span style="cursor:pointer;" onclick="<?php echo $this->page_change . '(' . $this->previous . ')';?>" > &Lt;anterior </span>
<?php }else{ ?>
    <span>&Lt;anterior</span>
<?php } ?>    
    
<?php
    // Gerando o link para cada uma das paginas
    foreach($this->pagesInRange as $page){
        if($this->current == $page){
?>
        <span> <b><?php echo $page; ?></b> </span>
<?php
        }else{
?>
        <span style="cursor:pointer;" onclick="<?php echo $this->page_change . '(' . $page . ')';?>"><?php echo $page; ?></span>
<?php         
        }
?>
<?php } // foreach pagesInRange ?>
    
<?php if(isset($this->next)){ 
    // Gerando o link para a página anterior 
?>    
        <span style="cursor:pointer" onclick="<?php echo $this->page_change . '(' . $this->next . ')' ;?>"> próxima&Gt; </span>
<?php }else{ ?>
        <span>próxima&Gt;</span>
<?php } ?>    
    
    
<?php } // if pageCount
?>    
</div>