<?php
if(isset($this->guest_book)){    
?>    
    <h1>Lista de assinaturas para o Livro de Visitas: <?php echo $this->guest_book->getTitle(); ?></h1>
    
    <label for="lista_visitas">Visitas</label>
    <table id="lista_visitas" border="1">
        <tr><th>Data</th><th>Usuário</th></tr>
            
<?php // Verificando se existem assinaturas para o livro de visitas
    if(isset($this->signature_list)){
        if(count($this->signature_list > 0)){
            foreach($this->signature_list as $signature){ ?>
            <tr><td><?php echo $signature->getCreationDate()->format('Y-m-d H:i:s')?></td><td><?php echo $signature->getUser()->getLogin(); ?></td></tr>    
<?php       } // foreach element in signature_list
        } // count signature_list > 0
    }// if is set signature_list
?>    
    </table>

<!-- pagination -->    
<div class="pagination">
    <?php if(isset($this->paginator)){ 
        $params_pagination = array('page_change' => 'navegar');
        echo $this->paginationControl($this->paginator, 'Sliding', 'pieces/pagination.phtml',
                $params_pagination);
    } ?>
</div>    
    
    
<?php }else{ ?>
    <h1>Não foi informado o Livro de Visitas a ser apresentado. </h1>
    
<?php } // if isset $this->guest_book
?>