/* 
    Document   : estilo
    Created on : 31/07/2012, 20:53:35
    Author     : Profpv
    Description:
        Estilo css customizado para o ZEDOC (Zend Framework + Doctrine)
*/

body{
    padding:0px; margin:0px; background:#CCC; font:10px/14px Tahoma, sans-serif;
    background-image:url(../imagens/site/fundo.png);
    background-repeat:repeat-x;
}

root { 
    display: block;
}

.header{
    margin-top: 10px;
    height: 130px;
    background-image:url(../imagens/site/zedoc-logo.png);
    background-repeat:no-repeat;
}


#rodape{
    background-color:whiteSmoke;
    height: 300px;
}



.menuprincipal ul{
    margin-top:8px;

}

.menuprincipal li{
    display:inline;
    float:left;
}

.menuprincipal li a{
    font-family:Tahoma, Geneva, sans-serif;
    font-weight:bolder;
    font-size:18px;
    padding:9px 10px 2px 10px;
    text-decoration:none;
    color:#FFF;
}

.menuprincipal li a:hover{
    color:#48ADE3;
}