<?php

// Url contendo a página de post do form de autenticacao 
$params = array('module' => 'admin', 'controller' => 'login', 'action' => 'login');
$this->url_login_post = $this->url($params);

$this->form_login->setAction($this->url_login_post);

?>
<div class="align-center">
<div class="form-login">
<?php
    echo $this->form_login;
?>
</div>
    </div>
