<?php echo $this->doctype(); ?>
<?php echo "\n"; ?>
<?php echo $this->headScript(); ?>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>ZeDoc - Integração Zend Doctrine</title>

        <?php $this->headLink()->appendStylesheet('/css/global.css') ?>
        <?php $this->headLink()->appendStylesheet('/css/print.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/screen.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/ie.css'); ?>
        <?php $this->headLink()->appendStylesheet('/css/estilo.css'); ?>
        <?php echo $this->headLink(); ?>
    </head>
    <body>

        <div class="container">

            <div id="header" class="header">
                <div id="header-log" style="float: left">
                    <div class="span-10">
                        &nbsp;
                    </div>
                    <div class="span-13">
                        <div class="span-13">
                            <ul class="menuprincipal">
                                <li><a href="#"> ZeDoc </a></li>
                                <li><a href="#"> Documentação </a></li>
                                <li><a href="#"> Desenvolvedores </a></li>                                

                            </ul>
                        </div>
                        <div class="clear"><br><br></div>

                                    <div class="span-13 push-1"> 
                                        <b style="font-size:22px; color:#48ADE3; font-family:'Arial', cursive;">Integração Zend Framework e Doctrine</b> 
                                    </div>

                                    <div class="span-13 sobe"> 
                                        <div class="push-11 seta">

                                        </div>
                                    </div>
                                    </div>

                                    </div>

                                    <?php
                                    if (Zend_Auth::getInstance()->hasIdentity()) {
                                        ?>
                                        <div id="logout_button" style="float: right">
                                            <input type="button" value="Sair" title="Sair do Sistema" onclick="logOut()" />
                                        </div>
                                        <?php
                                    }
                                    ?>            
                                    </div>

                                    <div id="body">
                                        <?php echo $this->layout()->content; ?>
                                    </div>    

                                    </div>    
                                    <div id="rodape">

                                        <br>
                                            <div class="align-center">
                                                <p><b>ZeDoc</b> - Zend Framework e Doctrine 2012</p>
                                                <br>
                                                    <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.pt"><img alt="Licença Creative Commons" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br />Este trabalho foi licenciado com uma Licença <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.pt">Creative Commons - Atribuição  3.0 Não Adaptada</a>.
                                            </div>
                                            <br>

                                                </div>

                                                <script type="text/javascript">
            
                                                    function logOut(){
                                                        window.location.href = "/default/login/logout/";
                                                    }
                                                </script>    
                                                </body>
                                                </html>